

body{
     margin: 0; 
     text-align: center;
     font-family: 'Merriweather', serif;
}
.imagesize
{
    width: 150px;
    height: 100px;
}
.house-img
{
    width: 30%;
    height: auto;
}
.hob-img1
{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.hob-img2
{
    width: 25%;
    float: right;
    margin-left: 30px;
    margin-top: 50px;
}
.profile{
    margin-top: 50px;
    margin-bottom: 80px;

}
.profile-img
{
    width: 300px;
    height: 250px;
    margin-right: 100px;
    margin-top: 40px;
    margin: 40px 100px 40px 30px;
}



.top-container
{
    background-color: #2C3333;
    position: relative;
    padding-top: 65px;
   
}

.hobbies
{
    padding: 50px;
    background-color: #2C3333;
    color: #EAF6F6;
}

h1{

    margin-top: 50px auto 0 auto;
    /* setting the h1 to middle of screen */
    /* margin: 0 auto 0 auto; 
    padding-top: 20px; */
    font-family: 'Sacramento', cursive;
    padding-top: 40px;
    font-size: 300%;
    color: #E7F6F2;
    line-height: 2;
    

}

h2{
    font-family: 'Montserrat', sans-serif;
    /* font-size: 32px; */
    color: #11999E;
    font-weight: normal;
    margin-top: 0;

}

h3{
    font-family: 'Montserrat', sans-serif;
    color:  #FF9F29; 
    

}



a{
    color:  #FF9F29;
    margin: 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;

}
a:hover
{
    color: #EAF6F6;
}




.top-cloud{

    position: absolute;
    right: 350px;
    top: 50px;
}

.bottom-cloud
{
    position: absolute;
    left: 390px;
}

.hobby-row
{
    width: 50%;
    /* for centering the items  */
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;
    
}
.bottom{
    margin-bottom: 0px;

}

.btn {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: 'Montserrat', sans-serif;

    color: #FF9F29;
    font-size: 20px;
    background: #2C3333;
    padding: 10px 23px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #FF9F29;
    text-decoration: none;
    color: #2C3333;
  }



.bottom-container
{
    margin-top: 25px;
    background-color:#2C3333 ;
    height: 50px;
    padding: 20px;

    
}
.contact-me
{
    margin-top: 50px;
    margin-bottom: 70px;
    line-height: 4;
}

.copyright
{
    color: #EAF6F6;
    
}



